@keyframes bay-sm{
  0%{
    background-color: rgb(222, 135, 135);
  }
  14%{
    background-color: rgb(255, 221, 0);
  }
  28%{
    background-color: rgb(58, 153, 51);
  }
  42%{
    background-color: rgb(54, 51, 153);
  }
  56%{
    background-color: #e881e8;
  }
  70%{
    background-color: rgb(153, 51, 70);
  }
  84%{
    background-color: rgb(211, 133, 133);
  }
  100%{
    background-color: burlywood;
  }
}
*{
    margin: 0;
    padding: 0;
  }
  body {
    font-family: sans-serif;
    color: #222;
  }
  #menu ul {
    background: black;
    list-style-type: none;
    text-align: center;
  }
  
  #menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
  }
  
  #menu ul li a {
    text-decoration: none;
    color: burlywood;
    display: block;
  }
  #menu ul li a:hover {
    background: #F1F1F1;
    color: #0C0A0A;
  }
  #menu ul li > .sub-menu {
    display: none;
    position: absolute;
  }
  #menu li {
    position: relative;
  }
  .sub-menu {
    display: none;
    position: absolute;
  }
  #menu ul li:hover .sub-menu {
    display: block;
  }
#header{
    padding:30px 43% 30px 43%;
    text-align: center;
    background-color: burlywood;
    animation-name: bay-sm;
    animation-duration: 10s;
}


#content{
    width: 75%;
    float: left;
    height: 3%;  
    padding-bottom: 3%;
}
#right{
    float: left;
    width: 25%;
}
#footer{
    background-color: black;
    clear: left;
    height: 100px;
}
#text{
    text-decoration: none;
    color: black;
}
#content img{
  float: left;
  width: 20%;
  height: 100px;
  border: 300px;
  float: left;
  padding-left: 3%;
  padding-top: 20px;
  padding-bottom:20px ;
}
#content a{
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  transition: 0.2s;
}
#content a:hover{
  color: orange;
}
.text{
  clear: left;
  padding-top:20px ;
  position: relative;
}
#viet{
  padding: 3%;
}
h1 ,h2 ,h3{
  text-align: center;
}
h4 ,h5 ,h6{
  padding-left: 5%;
}
#list-pb{
  padding-left: 10%;
}
#rig{
  padding-left: 20px;
  padding-top: 20px;
  padding-right:20px ;
}

#các-bài-viết-mới ul li,#các-bài-viết-mới ul li a{
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
}

#chuyen-muc ul li{
  padding: 10px;
}
.text img:hover{
  transform: scale(1.2);
}
.text p{
  position: absolute;
  left: 25%;
  top: 70px;
  color: gray;
}
.text a{
  font-size: 25px;
  transition: 1.5s;
}
.text a:hover{
  transform: scale(1.1);
}
#tim-kiem button:active{
  transform: scale(0.8);
}
#content ul li{
  padding: 3%;
}
body{
  clear: both;
}
a{
  text-decoration: none;
  color: black;
}
#chuyen-muc ul li a, #chuyen-muc ul li{
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
}